In [30]:
from pull_data import pull_stock_data
import yfinance as yf

In [31]:
stocks = ["TSLA", "MSFT"]
df = pull_stock_data(tickers=stocks,
                       start="2016-01-01",
                       end="2016-01-06")

[*********************100%%**********************]  2 of 2 completed

------- Downloading Stock Data --------

In [32]:
df.loc[:, (slice(None), "TSLA")]

Price       Adj Close      Close       High        Low       Open     Volume
Ticker           TSLA       TSLA       TSLA       TSLA       TSLA       TSLA
Date
2016-01-04  14.894000  14.894000  15.425333  14.600000  15.381333  102406500
2016-01-05  14.895333  14.895333  15.126000  14.666667  15.090667   47802000

In [33]:
df.loc[:, ("Adj Close", slice(None))]

Price       Adj Close
Ticker           MSFT       TSLA
Date
2016-01-04  48.609001  14.894000
2016-01-05  48.830750  14.895333

In [40]:
ticks = ["TSLA", "MSFT"]

In [37]:
date = df.index[0]
date

Timestamp('2016-01-04 00:00:00')

In [45]:
df.loc[date]['Adj Close']

Ticker
MSFT    48.609001
TSLA    14.894000
Name: 2016-01-04 00:00:00, dtype: float64

In [44]:
data = df.loc[date]
for ticker in ticks:
        print(ticker)
        price = data.loc[('Adj Close', ticker)]
        print(price)

TSLA
14.894000053405762
MSFT
48.60900115966797