In [ ]:
from pull_data import pull_stock_data
import yfinance as yf

In [ ]:
stocks = ["TSLA", "MSFT"]
df = pull_stock_data(tickers=stocks,
                       start="2016-01-01",
                       end="2016-01-06")

In [ ]:
df.loc[:, (slice(None), "TSLA")]

In [ ]:
df.loc[:, ("Adj Close", slice(None))]

In [ ]:
ticks = ["TSLA", "MSFT"]

In [ ]:
date = df.index[0]
date

In [ ]:
df.loc[date]['Adj Close']

In [ ]:
data = df.loc[date]
for ticker in ticks:
        print(ticker)
        price = data.loc[('Adj Close', ticker)]
        print(price)

In [ ]:
from eq_weighted_portfolio import create_portfolio

In [ ]:
portfolio = create_portfolio()

In [65]:
portfolio

        Date Ticker  Quantity       Price   Total Value               Weight
0 2016-01-04   AMZN      1046   31.849501  33314.577686   33.31457768630982%
1 2016-01-04   GOOG       898   37.091999  33308.615150   33.30861515045166%
2 2016-01-04   NFLX       303  109.959999  33317.879723  33.317879722595215%
3 2016-01-04   CASH         0    0.000000     58.927441             0.000589

In [79]:
portfolio[portfolio["Ticker"] == "AMZN"]["Quantity"][0]

1046