In [1]:
from pull_data import pull_stock_data

In [2]:
stocks = ["TSLA", "MSFT"]
data = pull_stock_data(tickers=stocks,
                       start="2016-01-01",
                       end="2024-01-01")

[*********************100%%**********************]  2 of 2 completed

In [13]:
data.loc[:, (slice(None), "TSLA")]

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,TSLA,TSLA,TSLA,TSLA,TSLA,TSLA
Date,,,,,,
2016-01-04,14.894000,14.894000,15.425333,14.600000,15.381333,102406500
2016-01-05,14.895333,14.895333,15.126000,14.666667,15.090667,47802000
2016-01-06,14.602667,14.602667,14.670000,14.398667,14.666667,56686500
2016-01-07,14.376667,14.376667,14.562667,14.244667,14.279333,53314500
2016-01-08,14.066667,14.066667,14.696000,14.051333,14.524000,54421500
...,...,...,...,...,...,...
2023-12-22,252.539993,252.539993,258.220001,251.369995,256.760010,93249800
2023-12-26,256.609985,256.609985,257.970001,252.910004,254.490005,86892400
2023-12-27,261.440002,261.440002,263.339996,257.519989,258.350006,106494400
2023-12-28,253.179993,253.179993,265.130005,252.710007,263.660004,113619900
2023-12-29,248.479996,248.479996,255.190002,247.429993,255.100006,100615300